<div class="scroll">
  <div class="container">
    <h1>
      Detalhes do professor
    </h1>
    <div class="professor-card">
      <div class="professor-header">
        <h2>{{professor.nome}}</h2>
        <p>{{professor.matricula}}</p>
      </div>

      <div class="professor-info">
        <h3>Informações pessoais</h3>
        <p>Email: {{professor.email}}</p>
        <p>CPF: {{professor.cpf}}</p>
        <p>Telefone: {{professor.telefone}}</p>
      </div>

      <div class="professor-address">
        <h3>Endereço</h3>

        <p>Rua: {{professor.endereco?.logradouro}}</p>
        <p>Bairro: {{professor.endereco?.bairro}}</p>
        <p>Cidade: {{professor.endereco?.cidade}}</p>
        <p>uf: {{professor.endereco?.uf}}</p>
        <p>Cep: {{professor.endereco?.cep}}</p>
      </div>
    </div>

    <div class="professor-actions">
      <ion-button fill="outline" shape="round" [routerLink]="['/professores/listar']" color="primary">Voltar</ion-button>
    </div>
  </div>
</div>