.scroll{
    height: 100vh;
    overflow: scroll;
    background-color: white;
}

h1{
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 1;
}

.container{
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
}