<div class="scroll">
  <div class="container">
    
    <button (click)="voltar()" class="btn voltar-button">
      <i class="fa fa-chevron-left"></i>
    </button>
      
    <h1 class="title">
      Atualização do aluno
    </h1>
    

    <form (submit)="atualizarAluno()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" name="nome" type="text" [(ngModel)]="aluno.nome">
    
      </div>
    
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" [(ngModel)]="aluno.email">
    
      </div>
    
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input id="cpf" name="cpf" type="text" [(ngModel)]="aluno.cpf">
    
      </div>
    
      <div class="form-group">
        <label for="matricula">Matricula</label>
        <input id="matricula" name="matricula" type="text" [(ngModel)]="aluno.matricula">
      </div>
      <div class="form-group">
        <label for="curso">Curso</label>
        <input id="curso" name="curso" type="text" [(ngModel)]="aluno.curso">
      </div>
    
      <h2 class="title">Endereço</h2>
    
      <div class="form-group">
        <label for="cep">Cep</label>
        <input id="cep" name="cep" type="text" [(ngModel)]="aluno.endereco.cep">
      </div>
      <div class="form-group">
        <label for="logradouro">Logradouro</label>
        <input id="logradouro" name="logradouro" type="text" [(ngModel)]="aluno.endereco.logradouro">
      </div>
      <div class="form-group">
        <label for="cep">Cep</label>
        <input id="cep" name="cep" type="text" [(ngModel)]="aluno.endereco.cep">
      </div>
      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input id="bairro" name="bairro" type="text" [(ngModel)]="aluno.endereco.bairro">
      </div>
    
      <div class="form-group">
        <label for="numero">Numero</label>
        <input id="numero" name="numero" type="text" [(ngModel)]="aluno.endereco.numero">
      </div>
    
      <div class="form-group">
        <label for="complemento">Complemento</label>
        <input id="complemento" name="complemento" type="text" [(ngModel)]="aluno.endereco.complemento">
      </div>

      <div class="form-actions">
        <ion-button shape="round" fill="outline" expand="full" type="submit" class="add-button">
        Atualizar
        </ion-button>
      </div>
    </form>

    <div class="aluno-actions">
      <ion-button fill="outline" shape="round" [routerLink]="['/alunos/listar']" color="primary">Voltar</ion-button>
    </div>
  </div>
</div>